.arrowHover:hover {
  background-color: white;
}

.arrowHover:hover svg {
  color: black;
}

.icon {
  background: linear-gradient(90deg, red 70%, transparent);
}

.btn:hover {
  background: white;
  color: black;
}

.selected {
  background-color: white;
  color: black !important;
}
